@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

body {
    font-family: "Nunito Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.2em;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f9fafb;
}